// ==============================
//          CONTAINER
// ==============================

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  background: $color__very-light-grayish-blue url("../assets/images/bg-top.svg") no-repeat top left /
    cover;

  @media screen and (min-width: 1024px) {
    padding: 64px 24px 140px;

    background: url("../assets/images/bg-top.svg") no-repeat top right / 25%,
      url("../assets/images/bg-bottom.svg") no-repeat bottom left / 30%,
      $color__very-light-grayish-blue;
  }
}

// ==============================
//            HEADER
// ==============================

.header {
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;

  &__heading {
    margin-bottom: 32px;
  }
}

// ==============================
//         BOX WRAPPER
// ==============================

.box-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 32px;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1024px) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    max-width: 1000px;
  }
}
